<script>
  let count = 0;

  $: if (count >= 10) {
    alert(`count is dangerously π!`);
    count = Math.PI;

    let btn = document.getElementsByTagName(`button`)[0];
    btn.style.height = `256px`;
    btn.style.width = `256px`;
    btn.style.borderRadius = `256px`;
  }

  function handleClick() {
    count += 1;
  }
</script>

<button on:click={handleClick}>
  Clicked {count} {count === 1 ? 'time' : 'times'}
</button>
